.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: url("../assets/rolling-hills.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
